@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">X-rayImg Connect</h1>
        <p class="lead">Welcome to X-rayImg Connect, your one-stop platform for managing your medical appointments, viewing medical images, and accessing medical reports.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                To get started, please create an account or log in.
            </p>
            <p><a class="btn btn-outline-dark" href="/Account/Register">Register Now &raquo;</a>
            <a class="btn btn-outline-dark" href="/Account/Login">Log in Now &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Book Your Appointment</h2>
            <p>Schedule your medical appointment at your preferred clinic with ease. Our booking system simplifies the process for you.</p>
            @if (User.Identity.IsAuthenticated)
            {
                <p><a class="btn btn-outline-dark" href="/Appointments">Book an Appointment &raquo;</a></p>
            }
            else
            {
                <p>
                    To get started, please create an account or log in.
                </p>
                <p>
                    <a class="btn btn-outline-dark" href="/Account/Register">Register Now &raquo;</a>
                    <a class="btn btn-outline-dark" href="/Account/Login">Log in Now &raquo;</a>
                </p>
            }
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">View Medical Images & Reports</h2>
            <p>Access your medical images and reports online. Our platform allows you to review and manage your medical records conveniently.</p>
            <p>Additionally, you can access your medical reports for a detailed analysis of your health status.</p>
            @if (User.Identity.IsAuthenticated)
            {
                <p><a class="btn btn-outline-dark" href="/MedImages">View Medical Images &raquo;</a></p>
                <p><a class="btn btn-outline-dark" href="/Reports">View Medical Reports &raquo;</a></p>
            }
            else
            {
                <p>
                    To get started, please create an account or log in.
                </p>
                <p>
                    <a class="btn btn-outline-dark" href="/Account/Register">Register Now &raquo;</a>
                    <a class="btn btn-outline-dark" href="/Account/Login">Log in Now &raquo;</a>
                </p>
            }

        </section>
    </div>

    <img srcset="~/Content/images/4370123-600w.jpg 600w,
             ~/Content/images/4370123-800w.jpg 800w"
     sizes="(max-width: 600px) 600px, 800px"
     src="~/Content/images/4370123-800w.jpg"
     alt="Responsive Image" />
</main>