@model Dictionary<string, int>
@{
    ViewBag.Title = "Appointment Distribution by Time Slot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment Distribution by Time Slot</h2>
<style>
    #timeslotChart {
        max-height: 400px;
    }
</style>
<canvas id="timeslotChart" width="400" height="400"></canvas>

<button id="downloadButton" class = "btn btn-info">Download Chart</button>


@section Scripts {
    <script>
        // Generate random color array
        function generateRandomColor() {
            var r = Math.floor(Math.random() * 256),
                g = Math.floor(Math.random() * 256),
                b = Math.floor(Math.random() * 256);
            return `rgba(${r}, ${g}, ${b}, 0.6)`;
        }

        var colors = Array.from({ length: 60 }, generateRandomColor);

        var ctx = document.getElementById('timeslotChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Keys)),
                datasets: [{
                    label: 'Appointments per Time Slot',
                    data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Values)),
                    backgroundColor: colors
                }]
            },
            options: {
                animation: {
                    onComplete: function() {
                        // Convert the chart into an image
                        var imageUrl = document.getElementById('timeslotChart').toDataURL("image/png");

                        // Set the image source to the base64 encoded PNG
                        document.getElementById('downloadButton').addEventListener('click', function () {
                            var a = document.createElement('a');
                            a.href = imageUrl;
                            a.download = 'chart.png';
                            a.click();
                        });
                    }
                }
            }
        });
    </script>
}
